Source: ros-melodic-rqt-robot-steering
Section: misc
Priority: optional
Maintainer: Dirk Thomas <dthomas@osrfoundation.org>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-catkin
Homepage: http://wiki.ros.org/rqt_robot_steering
Standards-Version: 3.9.2

Package: ros-melodic-rqt-robot-steering
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python-rospkg, ros-melodic-geometry-msgs, ros-melodic-python-qt-binding (>= 0.2.19), ros-melodic-rostopic, ros-melodic-rqt-gui, ros-melodic-rqt-gui-py
Description: rqt_robot_steering provides a GUI plugin for steering a robot using Twist messages.
