Source: ros-indigo-rqt-robot-steering
Section: misc
Priority: extra
Maintainer: Dirk Thomas <dthomas@osrfoundation.org>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin
Homepage: http://wiki.ros.org/rqt_robot_steering
Standards-Version: 3.9.2

Package: ros-indigo-rqt-robot-steering
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python-rospkg, ros-indigo-geometry-msgs, ros-indigo-python-qt-binding (>= 0.2.19), ros-indigo-rostopic, ros-indigo-rqt-gui, ros-indigo-rqt-gui-py
Description: rqt_robot_steering provides a GUI plugin for steering a robot using Twist messages.
